body {
    font-family: 'Arial', sans-serif;
    background-color: #7ccfa2;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.navbar {
    background-color: #7ccfa2;
    border-radius: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #7ccfa2;
    transition: color 0.3s ease;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar .nav-link {
    font-size: 1rem;
    margin-right: 15px;
    color: #7ccfa2;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #66b18e;
}

h1 {
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.card-title a:hover {
    color: #66b18e;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
    height: 200px; /* Maintain consistent image height */
    object-fit: cover;
}

.mybutton {
    background-color: #7ccfa2;
    color: black;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.mybutton:hover {
    background-color: #66b18e;
}

.text-center a {
    color: black;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}

.text-center a:hover {
    color: #5ea885;
    text-decoration: underline;
}

.alert {
    margin-top: 1rem;
    font-size: 1rem;
}

.alert-dismissible .close {
    font-size: 1.2rem;
    line-height: 1;
}

.container {
    padding-top: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.place-location .badge {
    background-color: #7ccfa2;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
